
<h1>Upload File</h1>
<div>
<form asp-action="UploadFile" asp-controller="UploadFiles" enctype="multipart/form-data">
    <div class="form-group">
        <div class="mb-3">            
            <input class="form-control" type="file" id="formFile" name="BindingName">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>