@model LearnIdentityAut.ViewModels.UserAccess.UserClaimsViewModel

<h1>UserClaimsViewModel Page : @Model.UserID</h1>

<form method="post">
    <div>
        <div class="card-header text-center" >
            <h2>Manage User Claims</h2>
        </div>
        <div class="card-body">
            @for(int i = 0; i < Model.claims.Count; i++)
            @*foreach(var u in Model) do not use a foeach loop as the model binder wond bind with the controller parameter*@
            {
                <div class="form-group">
                    <div class="form-check">
                        <input type="hidden" asp-for=@Model.claims[i].ClaimType />
                        <input asp-for=@Model.claims[i].IsSelected class="form-check-input" type="checkbox" />
                        <label asp-for=@Model.claims[i].IsSelected class="form-check-label">
                            @Model.claims[i].ClaimType
                        </label>
                    </div>
                </div>
            }
        </div>
        <div class="card-footer text-muted">
            <input type="submit" value="Update" class="btn btn-primary" asp-controller="administration" asp-action="ManageUserClaims"
              asp-route-userid="@Model.UserID" />
            <a asp-controller="Administration" asp-action="ManageUserClaims" asp-route-UsErId=@Model.UserID class="btn btn-primary ">Cancel</a>
            <a asp-controller="Administration" asp-action="EditUser" asp-route-userid=@Model.UserID class="btn btn-warning ">GoBack</a>
        </div>
    </div>
</form>


