<footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; Darrens BookStore - @DateTime.Now.Year - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>