<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" width="10" height="10" alt="logo" class="logo" asp-append-version="true" />
                <span class="navbar-toggler-icon">
                    <environment include="Development">
                        <p>Dev Env</p>
                    </environment>
                    <environment include="Production">
                        <h1>Production</h1>
                    </environment>
                </span>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ManageUsers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-action=ListOfRoles asp-controller=administration>Role</a></li>
                            <li><a class="dropdown-item" asp-action=ListAllUsers asp-controller=administration>Users</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Masters
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-action="AddNewLanguage" asp-controller="Language">Add Language</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Books
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-controller="Book" asp-action="GetAllBooks">Books</a></li>
                            <li><a class="dropdown-item" asp-controller="Book" asp-action="AddNewBook">Add Book</a></li>
                        </ul>
                    </li>
                </ul>



                <form class="d-flex">
                    <partial name="_LoginPartial" />
                </form>
            </div>
        </div>
    </nav>
</header>