@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <img class="center-block" src="~/Images/AccessDenied.png" />
            <div>
                <h4 style="color : orangered"><span>you do not have access to this resource... </span></h4>
                <h3>Take me back <a asp-controller="Home" asp-action="Index">Home...!</a> </h3>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>



